<!DOCTYPE html>
<html lang="en">
<head>
 <% include ../partials/head %> 
 <link rel="stylesheet" href="./stylesheets/main.css">
 <link rel="stylesheet" href="./stylesheets/product.css">
</head>
<body>
  
  <header>
    <% include ../partials/menu %>
    <section class="chairs-head">
      <div class="container">
          <div class="row">
              <div class="col-md-6 d-flex align-items-center">
                  <div class="flex-column mx-auto">
                      <h4 class="mb-3 header-2 text-beige">Kitchen Collection</h4>
                      <h1 class="mb-3 header-1 text-uppercase">
                          Featured
                          <br>
                          Collection
                      </h1>
                      <a class="btn btn-red shadow-none">view</a>
                  </div>
              </div>
              <div class="col-md-6 pt-5">
                  <div id="carouselControls" class="carousel slide carousel-fade" data-mdb-ride="carousel">
                      <div class="carousel-inner">
                          <div class="carousel-item active" data-mdb-interval="2000">
                              <img src="https://images.unsplash.com/photo-1501420896719-ad7fe0ee297e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-mdb-interval="2000">
                              <img src="https://images.unsplash.com/photo-1509099260230-b032e6e135b4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1052&q=80" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item" data-mdb-interval="2000">
                              <img src="https://images.unsplash.com/photo-1493710494541-43364cb47485?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" class="d-block w-100" alt="...">
                          </div>
                      </div>
                      <a
                          class="carousel-control-prev"
                          href="#carouselControls"
                          role="button"
                          data-mdb-slide="prev"
                      >
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                      </a>
                      <a
                          class="carousel-control-next"
                          href="#carouselControls"
                          role="button"
                          data-mdb-slide="next"
                      >
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  </header>
  
  <main class="container-fluid py-5">
    <% if (products) { %>
        <div class="d-flex justify-content-center mb-5">
          <h4>All</h4>
        </div>
        <div class="row row-cols-1 row-cols-md-4 g-4">
      
        <% products.forEach((product, index) => { %>
          <div class="col">
            <div class="card h-100 shadow-none prod">
                <% if (product.image.split(",").length > 1) { %>
                    <% var images = product.image.split(",") %>
                    <img class="card-img-top item-image" src="/<%= images[0] %>" alt="product_image">
                <% } else { %>
                    <img class="card-img-top item-image" src="/<%= product.image %>" alt="product_image">
                <% } %> 
                <div class="card-body">
                    <p class="card-text item-name"><%= product.name %></p>
                    <h5 class="card-title item-price"><%= product.price %></h5>
                    <div class="card-footer">
                        <a class="btn btn-beige shadow-none" href="/admin/<%=product._id%>">View</a>
                        <button class="btn btn-red shadow-none" onclick="addToCart(this.id)" id="<%= index %>">Add to Cart</button>
                    </div>
                </div>
            </div>
          </div>
        <% }); %>
      </div>
      <% } else { %>
       <div class="d-flex justify-content-center">
         <p>This Collection Is Coming Soon...</p>
       </div>
      <% } %>
  </main>
<footer class="bg-light text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#!" class="">FAQs</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-center">Connect with Us</h5>
                <ul class="list-group list-group-horizontal justify-content-center">
                    <li class="list-group-item">
                        <i class="fab fa-twitter"></i>
                    </li>
                    <li class="list-group-item">
                        <i class="fab fa-instagram"></i>
                    </li>
                    <li class="list-group-item">
                        <i class="fab fa-facebook"></i>
                    </li>
                    <li class="list-group-item">
                        <i class="fab fa-whatsapp"></i>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2021: Lalehousehold | by
        <a class="text-dark" href="https://saslamp.github.io/">SL</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
<% include ../partials/script %>
<script src="/javascripts/addToCart.js"></script>
<script src="/javascripts/cart.js"></script>
</html>