<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="./stylesheets/admin.css">
</head>
<body>
  <header>
    <% include partials/menu %>
  </header>
  <main class="mt-5 pt-5">
    <section class="container">
      <h4 class="text-muted">Manage Products</h4>
      <div class="d-flex">
        <button 
          class="btn btn-warning shadow-none"
          data-mdb-toggle="modal"
          data-mdb-target="#addProductModal"
        >Add a Product</button>
        <!-- <a class="btn btn-danger shadow-none ms-2">Delete All Products</a> -->
      </div>
      <section class="add-product-modal">
        <div
          class="modal fade"
          id="addProductModal"
          tabindex="-1"
          aria-labelledby="addProductModalLabel"
          aria-hidden="true"
        >
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">New Product</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-mdb-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <form action="/admin" method="POST" enctype="multipart/form-data">
                  <div class="form-outline mb-4">
                    <input type="text" name="name" class="form-control" />
                    <label class="form-label" for="name">Name</label>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <input type="text" name="description" class="form-control" />
                    <label class="form-label" for="description">Description</label>
                  </div>

                  <div class="form-group mb-4">
                    <label class="form-label" for="image">Upload Main Image</label>
                    <input type="file" class="form-control" name="image" multiple />
                  </div>

                  <div class="form-group mb-4">
                    <select name="collection" class="form-control">
                      <option value="" class="text-muted" selected disabled>Set Collection</option>
                    </select>
                  </div>

                  <div class="row mb-4">
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" name="price" class="form-control" />
                        <label class="form-label" for="price">Price</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-outline">
                        <input type="text" name="qty" class="form-control" />
                        <label class="form-label" for="qty">Quantity</label>
                      </div>
                    </div>
                  </div>
                
                  <button type="submit" class="btn btn-warning btn-block mb-4">Add</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">
                  Cancel
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <% if (products.length > 0) { %>
        <div class="table-responsive mt-2">
          <table class="table caption-top table-hover">
            <caption>
              Products List
            </caption>
            <thead>
              <tr>
                <th scope="col">S/N</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Manage</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach((product, index) => { %>
                <tr>
                  <th scope="row"><%= index + 1 %></th>
                  <td><%= product.name %></td>
                  <td><%= product.description %></td>
                  <td><%= product.price %></td>
                  <td><%= product.qty %></td>
                  <td class="manage">
                    <a href="/admin/<%=product._id%>"><i class="fas fa-eye text-warning"></i></a>
                    <a href="/admin/delete/<%=product._id%>"><i class="fas fa-trash-alt text-danger"></i></a>
                  </td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      <% } else { %>
       <div class="d-flex justify-content-center">
         <p>No products. Start adding products</p>
       </div>
      <% } %> 
    </section>
  </main>
</body>
<% include partials/script %>
</html>
