<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
 <link rel="stylesheet" href="/stylesheets/product-detail.css">
</head>
<body>
  <header>
    <% include partials/menu %>
  </header>
    <main class="mt-5 pt-5 container">
      <p class="m-0 text-red" onclick="goBack()" id="back"><i class="fas fa-caret-left"></i> Back</p>
      <h4 class="mt-0 mb-3">Product Details</h4>
      <div class="card mb-3">
          <div class="row g-0 product-detail-card">
              <div class="col-md-5">
                <%if (product.image.length > 0) { %>
                
                <% } else { %>
                  <img id="main" src="/uploads/<%=product.image%>" alt="..." class="img-fluid product-detail-img">
                <% }  %>
              </div>
              <div class="col-md-7">
                  <div class="card-body">
                      <h3 class="card-title text-uppercase"><%=product.name%></h3>
                      <p class="card-text text-muted text-uppercase"><%=product.description %></p>
                      <div class="details">
                          <div class="row">
                              <div class="col">
                                  <p class="card-text text-uppercase m-0 text-red">price</p>
                                  <h2 class="m-0 text-muted"><%=product.price %></h2>
                              </div>
                              <div class="col">
                                  <p class="card-text text-red text-uppercase m-0">quantity</p>
                                  <h2 class="m-0 text-muted"><%=product.qty %></h2>
                              </div>
                          </div>
                          <div class="images">
                              <img onclick="change(this.src)" src="https://images.unsplash.com/photo-1509952328734-7fe1ccd67ec8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80" class="img-fluid rounded" alt="">
                              <img onclick="change(this.src)" src="https://images.unsplash.com/photo-1517705008128-361805f42e86?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=979&q=80" class="img-fluid rounded" alt="">
                              <img onclick="change(this.src)" src="https://images.unsplash.com/photo-1545241047-6083a3684587?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80" class="img-fluid rounded" alt="">
                          </div>
                          <button class="btn mt-3 cart-btn btn-outline-red">Add to Cart</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </main>
</body>
<% include partials/script %>
</html>
